input.mot{
    width: 2em;
}

body{
    background-color: rgb(240, 240, 240);
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding: 1em;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.192);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    border-collapse: collapse;
}

th, td{
    padding: .8em;
    border: 1px solid black;
}

tr.winner1 td:nth-child(1)::before{
    content: "";
    display: block;
    height: 1em;
    width: 1em;
    background-image: url("/images/win.png");
    background-size: cover;
}

tr.winner2 td:nth-child(2)::before{
    content: "";
    display: block;
    height: 1em;
    width: 1em;
    background-image: url("/images/win.png");
    background-size: cover;
}

.button{
    text-decoration: none;
    color: black;
    font-size: 1em;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(206, 206, 206);
    padding: .3em;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(245, 245, 245);
}

.box{
    background-color: white;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 2em;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    width: 35%;
    height: 70vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

div.pendu{
    width: 200px;
    height: 200px;
}

div.pendu.status1{
    background-image: url("/images/0.png");
}

div.pendu.status2{
    background-image: url("/images/1.png");
}

div.pendu.status3{
    background-image: url("/images/2.png");
}

div.pendu.status4{
    background-image: url("/images/4.png");
}

div.pendu.status5{
    background-image: url("/images/5.png");
}